<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="style/footer.css">
<script src="script/footer.js" defer=true></script>

<footer>
    <div class="content">
        <a class="hire-link" href="/">Hire me</a>
        <p class="name">Kanan Boubion</p>
        <div class="copyright">
            <p class="copyright">© Copyright 2020-<%= new Date().getFullYear() %>.</p>
            <p>All rights reserved.</p>
        </div>
    </div> 
</footer>