<link rel="stylesheet" href="style/footer.css">
<script src="script/footer.js" defer=true></script>

<footer>
    <div class="content-box">
        <!-- have some kind of collumns with info and links and shit-->
        <p class="copyright"><%= new Date().getFullYear() %> ©</p>
    </div> 
</footer>