<link rel="stylesheet" href="style/header.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 

<header>
    <div class="navigation">
        <a class="logo" href="/">Kanan B.</a>
        <nav class="menu" onclick="toggleDropdown()">
            <img src="img/dropdown.png" alt="dropdown-icon">
        </nav>
        <nav id="links">
            <a href="/portfolio">Portfolio</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </div>
</header>