<link rel="stylesheet" href="style/header.css">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<script src="script/header.js" defer=true></script>

<header>
    <div class="navigation">
        <a id="logo" class="hiding-above" href="/">Kanan B</a>
        <nav id="menu" class="menu">
            <img src="img/dropdown.png" alt="dropdown-icon">
        </nav>
        <nav id="links" class="hiding-left">
            <a href="/portfolio">Portfolio</a>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>