header {
    --font-color: #181818;
}


a {
    text-decoration: none;
    font-family: 'sans serif';
    color: var(--font-color);
}

.navigation {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    align-items: center;
    justify-items: center;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px -1px 3px 0px #00000018 inset;
    background-color: #f7f7f7;

    z-index: 1;
}

#logo {
    justify-self: left;
    opacity: 1;
    padding: 0 20px;
    font-family: 'Abril Fatface', arial;
    font-size: 35px;

    transition-duration: 750ms;
}
#logo.hiding-above {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transfrom: translateY(-100%);
}

.menu {
    justify-self: right;

    margin: 0 20px;
    border-radius: 5px;

    transition-duration: .2s;
}
.menu:hover {
    cursor: pointer;
    
    background-color: #d6d6d6;
}
.menu:active {
    background-color: #949494;
}

#links {
    grid-column: 1 / -1;
    
    display: none;
    grid-template: repeat(3 1fr) / 1fr;
    align-items: center;
    justify-items: left;

    width: 100%;
    height: 100%;
    opacity: 1;

    transition-duration: 500ms;
}
#links.dropdown {
    display: grid;
}
#links.hiding-left {
    opacity: 0;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
}

#links a {
    display: inline-block;

    width: 100%;
    padding: 8px 20px;
    background-color: #f0f0f0;
    font-size: 14px;
    box-shadow: 0px 0px 1px 0px transparent inset; /* stops a little outline from appearing after hovering over the element */

    transition-duration: .2s;
}
#links a:hover {
    background-color: #d6d6d6;
    box-shadow: 0px 0px 1px 0px #0000003a inset;
}
#links a:active {
    background-color: #949494;
}



@media screen and (min-width: 825px) {
    .navigation {
        grid-template-columns: 4fr 7fr 2fr;
        grid-template-areas: "logo links";
    }

    .logo {
        grid-area: logo;
    }

    .menu {
        display: none;
    }

    #links {
        grid-area: links;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        text-align: center;
        margin-right: 100px;
    }

    #links a {
        font-size: 23px;
        font-weight: bold;
        width: 50%;
        padding: 0;
        margin: 0 auto;
        background-color: transparent;
    }
    #links a:hover {
        background-color: transparent;
        box-shadow: 0px 3px 0px 0px var(--font-color);
    }
    #links a:active {
        background-color: transparent;
    }
}