body {
    overflow-x: hidden;
    background-color: white;
    
    --font-color: #181818;
}

main {
    width: 100%;
}

.banner {
    display: block;
    margin: 60px 0 20px 0;
    width: 100%;
}

#external-links {
    text-align: center;
    margin: 20px auto 60px auto;
    width: 40%;
    font-size: 18px;
    line-height: 0.1em;
    border-bottom: 2px solid #18181877;
    font-weight: bold;
    color: var(--font-color);

    transition-duration:  250ms;
}
#external-links.expand {
    width: 80%;
}
#external-links span {
    background: white;
    padding: 0 10px;
}
.external-link {
    display: inline-block;
    padding: 0 10px;

    transition-duration: 250ms;
}
.external-link:hover {
    text-decoration: underline;
}

.article {
    text-align: left;
    opacity: 1;
    width: 80%;
    padding: 10px 20px 20px 20px;
    margin: 30px auto 30px auto;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 10px -8px #000000;

    transition: background-color 200ms, transform 750ms, opacity 750ms;
}
.article.hiding-below {
    opacity: 0;
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
}
.article.hiding-above {
    opacity: 0;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
}
.article:hover {
    background-color: #f1f1f1;
}
.article h1 {
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 15px 0 10px 0;
    font-family: arial;
    font-size: 25px;
}
.article p {
    line-height: 1.75em;
    font-size: 17px;
    text-align: justify;
}



@media screen and (min-width: 825px) {
    .article {
        width: 70%;
    }
    .article h1 {
        padding: 0 0 0 30px;
        margin: 30px 0 20px 0;
        font-size: 30px;
    }
    .article p {
        line-height: 2em;
        font-size: 18px;
    }
}