<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/home.css">
    <script src="script/home.js" defer=true></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <img class="banner" src="img/banner.png">
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>