<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style/portfolio.css">
    <script src="script/portfolio.js" defer=true></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main style="height: 100vh">
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>